@charset "utf-8";
a,
a:hover {
    text-decoration: none
}

input,
input[type=submit],
input[type=reset],
input[type=button] {
    -webkit-appearance: none;
    resize: none;
    outline:none;
}

html,body,a,article,aside,body,button,dd,details,div,dl,dt,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,img,input,li,menu,nav,ol,p,section,select,table,tbody,td,textarea,th,tr,ul {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    border: none
}

ul,
ol,
li {
  list-style: none; }

input::-ms-clear, input::-ms-reveal {
  display: none; }

a {
  text-decoration: none;
  color: #333; }

button {
  outline: none; }

html,body {
    height: 100%;
}